<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="musiq.my.com.musiq">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.PlayerActivity" />
        <activity
            android:name=".ui.activity.AlbumListActivity"/>
        <activity
            android:name=".ui.activity.SongListActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".ui.service.StreamingService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
